@{
    ViewData["Title"] = "Add Movie";
}

@model MovieCollection.Models.NewMovieModel

<!--Dynamic header-->
<h1 class="display-4 text-center">@ViewBag.Header</h1>

<!--New Movie/Edit Movie Form-->
<div>
    <form method="post">

        <div class="form-group">
            <label asp-for="Title">Movie Title:</label>
            <input class="form-control" asp-for="Title" /><br />
        </div>

        <div class="form-group">
            <label asp-for="CategoryId">Category:</label>
            <select class="form-control" asp-for="CategoryId">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.CategoryName</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Year">Year:</label>
            <input class="form-control" asp-for="Year" /><br />
        </div>

        <div class="form-group">
            <label asp-for="Director">Director:</label>
            <input class="form-control" asp-for="Director" /><br />
        </div>

        <div class="form-group">
            <label asp-for="RatingId">Rating:</label>
            <select class="form-control" asp-for="RatingId">
                <option value="">Select a Rating</option>
                @foreach (Rating r in ViewBag.Ratings)
                {
                    <option value="@r.RatingId">@r.RatingDescription</option>
                }
            </select><br /><br />
        </div>

        <div class="form-group">
            <label asp-for="Edited">Is it edited?:</label>
            <select class="form-control" asp-for="Edited">
                <option value="true">Yes</option>
                <option value="false">No</option>
            </select><br /><br />
        </div>

        <div class="form-group">
            <label asp-for="LentTo">Lent To:</label>
            <input class="form-control" asp-for="LentTo" /><br />
        </div>

        <div class="form-group">
            <label asp-for="Notes">Notes:</label>
            <input class="form-control" asp-for="Notes" /><br />
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <button class="btn btn-primary" type="submit">Save</button>

    </form>
</div>